RewriteEngine On

# Force the /poems route through PHP even though /poems is a real directory
RewriteRule ^poems/?$ index.php [L]
RewriteRule ^poems/(.+)$ index.php [L]

# Everything else
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
